<html>
<head>
    <title>Eaters - Welcome to Eaters</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta Name="description" content="">
    <meta Name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

<!--    <style>-->
<!--        .logo{-->
<!--            height: 48px;-->
<!--            padding: 2px 10px;-->
<!--        }-->
<!--    </style>-->

</head>
<body>
   
        <nav class="navbar navbar-style">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href=""><img class="logo" src="{% static 'images/logo.png' %}"></a>
                </div>
                <div class="collapse navbar-collapse" id="micon" style="margin-top: 1%;">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Home</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href=""><i class="bi bi-basket3-fill"></i></a></li>
                    </ul>

                    
                </div>
            </div>
        </nav>
        <!-- <div class="col-sm-6 banner-info">
             <p class="text">HEY VUKKERS!</p>
            <p class="big-text">Welcome To <strong><i>JUST EAT</i></strong> </p>
            <p class="medium-text">Just eat until you satisfy your SOUL</p>
            {% if customer is not None %}
                
                <h3>Hello {{ customer.full_name }}</h3>
                <h4>You're successfully logged in.</h4>
                <button type="submit"> <a href="/second-page">Goto Second Page</a> </button>
                <button type="submit"> <a href="/signout"> SignOut</a> </button>
                {% else %}
                <a class="btn btn-first" href="/signup">Sign Up</a>
                <a class="btn btn-second" href="/signin">Sign In</a>
                {% endif %} 

        </div> -->


    <main class="main">
        <div class="row">  
            <div class="col-lg-1"></div> 
            {% for it in items %}
            <div class="col-lg-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=" {% static it.res_image.url%}" alt="Card image cap" width="220px">
                    <div class="card-body">
                     <div> <h4 class="card-title">{{it.name}}</h4> </div>
                      <p class="card-text">{{it.price}} Taka</p>
                      <p class="card-text">{{it.description |truncatewords_html:4}}</p>
                      <p class="card-text">{{it.rating}}/5</p>
                  
                  </div>
                </div>
                <a  href='{% url "food_items" it.restaurant_id_id it.id %}'><div> <button class="btn btn-primary">Add to Cart</button></div></a>
           
        </div>
        {% endfor %}

    </main>
    
</body>
</html>