<html>
<head>
    <title>Eaters - Welcome to Eaters</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authentication</title>
    <meta Name="description" content="">
    <meta Name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

<!--    <style>-->
<!--        .logo{-->
<!--            height: 48px;-->
<!--            padding: 2px 10px;-->
<!--        }-->
<!--    </style>-->

</head>
<body background="{% static 'images/home.jpg' %}" style="background-repeat: no-repeat; background-size: cover;">
    <header class="header"> 
    <nav class="navbar navbar-style">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=""><img class="logo" src="{% static 'images/logo.png' %}"></a>
            </div>
            <div class="collapse navbar-collapse" id="micon" style="margin-top: 1%;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Home</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                    {% if user.id is not  None %}
                    <li><a href="/signout">Sign Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-lg-12">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6"> 

        <style>
           .fontColor{
            color: white;
           }
            
               
        </style>
            <form method="post" action="/second-page"  style="margin-top:0%;" class="fontColor">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control"    name="first_name" value="{{user.first_Name.strip}}">
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control"    name="last_name" value="{{user.last_name.strip}}">
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control"    name="username" value="{{user.user_name.strip}}">
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Full Name</label>
                    <input type="text" class="form-control"    name="full_name" value="{{user.full_name.strip}}">
                    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control"    name="email" value="{{user.email.strip}}">
                    
                </div>
                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="text" class="form-control"    name="password" >
                    
                </div> -->
                
                 
                  <button type="submit" class="btn btn-primary">Submit</button>
                
             </form>

        </div>
        <div class="col-lg-3"> </div>

    </div>
        

    </header> 
</body>
</html>