<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registration</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta Name="description" content="">
        <meta Name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
    </head>
    <body background="{% static 'images/s1.jpg' %}" style="background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="registration_form">
            <h3><strong>Forgot Password</strong></h3>
            <form action="/forgot_password" method="post">
                {% csrf_token %}
               
               
                <label for="">Email Address</label><br>
                    <input type="email" id="email" name="email" placeholder="Enter Your Email Address to Retrieve your password" Required>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
       
    </body>
</html>