body{
    margin             :          0;
    padding            :          0;
}
body:before{
    content                 : '';
    position                : fixed;
    width                   : 100vw;
    height                  : 100vh;
    background-position     : center center;
    background-repeat       : no-repeat;
    background-attachment   : fixed;
    -webkit-background-size : cover;
    background-size         : cover;
    -webkit-filter          : blur(10px);
    -moz-filter             : blur(10px);
    filter                  : blur(10px);
}
.registration_form{
    position           :          absolute;
    top                :          50%;
    left               :          50%;
    -webkit-transform  :          translate(-50%,-50%);
    -moz-tramform      :          translate(-50%,-50%);
    -ms-transform      :          translate(-50%,-50%);
    -o-transform       :          translate(-50%,-50%);
    transform          :          translate(-50%,-50%);
    width              :          400px;
    height             :          450px;
    padding            :          80px 40px;
    background         :          rgba(105, 105, 105, 0.747);
    border-radius      :          25px;
}
.image{
    position           :          absolute;
    height             :          100px;
    width              :          100px;
    border-radius      :          50%;
    overflow           :          hidden;
    top                :          calc(-80px/2);
    left               :          calc(50% - 40px);
}
.registration_form h3{
    margin             :          0;
    padding            :          0 0 20px;
    color              :          black;
    text-align         :          center;
    text-transform     :          uppercase;
}
.registration_form label{
    margin-bottom      :          1%;
    padding            :          0;
    font-weight        :          bold;
    font-size          :          medium;
    color              :         rgb(250, 192, 0)
}
.registration_form input{
    border-radius      :          25px;
    height             :          20px;    
}
.registration_form input[type=text],
.registration_form input[type=password]{
    width              :          90%;
    height             :          30px;
    margin-bottom      :          3px;
}
.registration_form button[type=submit]{
    margin-top         :          0;
    margin-left        :          25%;
    height             :          30px;
    width              :          50%;
    color              :          #fff;
    font-size          :          15px;
    background         :          green;
    cursor             :          pointer;
    border-radius      :          25px;
    border             :          none;
    outline            :          none;
}
.registration_form h4{
    text-align         : center;
    margin-top         : 15px;
    color              : rgba(0, 153, 255, 0.89);
}
input[type=checkbox]{
    width              :10%;
}